
<div class="panel panel-default">
    <div class="panel-heading"><h2>New Poll</h2></div>
    <div class="panel-body">
        <div class="col-md-8 col-md-offset-2">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" class="form-control" [ngModel]="title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="title">Choices</label>
                    <textarea id="choices" class="form-control" rows="5" [ngModel]="choises" 
                        name="choices" placeholder="Enter a choise per row. Up to 5." required></textarea>
                </div>
                <button type="button" class="btn btn-primry" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>
